/target/
!.mvn/wrapper/maven-wrapper.jar

/node_modules
/build
/data
.env

### STS ###
.apt_generated
.classpath
.factorypath
.net
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
